/* src/FileLoad.module.css */
.loader {
  width: 300px;
  height: 350px;
  justify-content: flex-end;
  align-items: center;
}

.loadButton {
  position: relative;
  top: -56px;
  left: -170%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(170, 115, 198);
  cursor: pointer;

  /* 버튼 테두리 명시적으로 추가 */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.icon button {
  position: relative;
  top: -97px;
  left: -120%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(170, 115, 198);
  cursor: pointer;

  /* 버튼 테두리 명시적으로 추가 */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.record button {
  position: relative;
  top: -137px;
  left: -73%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(170, 115, 198);
  cursor: pointer;

  /* 버튼 테두리 명시적으로 추가 */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.hiddenInput {
  display: none;
}

/* 불러온 이미지를 최대 너비/높이 제한하고 중앙 정렬 */
.previewImage {
  position: absolute;
  top: -40px;
  left: 210%;
  transform: translateX(-50%);
  max-height: 30%;
  z-index: 1;
}

.loader p {
  order: 1; /* 텍스트를 버튼 바로 아래에 위치 */
  margin: 0; /* 기본 마진 제거 */
  text-align: center; /* 중앙 정렬 */
  font-size: 0.9rem;
  color: #333;
}

.previewImage {
  order: -1;
}
