/* Login.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  max-width: 300px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.field input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.field label {
  font-size: 1.2rem;
}

.field button {
  position: static !important;
  top: auto !important;
  left: auto !important;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: blueviolet;
}

.field a {
  font-size: 0.8rem;
  position: absolute;
  top: -20px;
  left: 100px;
  color: #565656;
}

.roundedBox {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 400px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 20px;

  /* 그림자 추가 */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15),
    /* 바깥쪽 큰 그림자 */ 0 4px 8px rgba(0, 0, 0, 0.1),
    /* 바깥쪽 작은 그림자 */ inset 0 1px 0 rgba(255, 255, 255, 0.6); /* 안쪽 상단 하이라이트 */

  z-index: 0;
}

.formContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.field button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
