# ============================
# Backend (Spring Boot)
# ============================
/backend/target/
/backend/build/
/backend/node_modules/
/backend/.vscode/
/backend/.env
/backend/application.properties
/backend/application-*.yml
/backend/application-*.properties
/backend/docker-compose.yml
/backend/*.log

# Maven wrapper (선택)
**/.mvn/
**/mvnw
**/mvnw.cmd

# IDE
**/.idea/
**/.classpath
**/.project
**/.settings
**/*.iml

# OS/system
.DS_Store
Thumbs.db
desktop.ini

# ============================
# Frontend (React)
# ============================

# dependencies
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

node_modules